<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>战舰公告</h1>
        <div style="color: red">注意：预瞄准插件与多玩的伤害面板冲突，请先卸载掉多玩伤害面板再装预瞄准</br>
            另外如果安装后出现任何问题，请把多玩盒子和其他的工具里插件 都卸载掉再安装本软件内插件就会好用的</br>
            如果预瞄准插件位置偏下，如果出现这种情况，把分辨率调成16比9的便可。</br></br>
            <a href="http://www.cooooke.cn/2015/12/13/%E9%A2%84%E7%9E%84%E5%87%86%E6%8F%92%E4%BB%B6%E6%AD%A3%E7%A1%AE%E8%AE%BE%E7%BD%AE%E6%96%B9%E6%B3%95/">预瞄准插件设置方法</a>          </br>   </br>
        </div>
        <div style="color: red;font-weight:bold;">国服和外服新版0.5.2.3，插件已经更新完毕了，请更新后大家把之前的插件卸载掉，之后安装新版的插件即可</br>
            新版预瞄准插件内增加了伤害统计功能O(∩_∩)O
        </div>
        <h2>
            <a href="https://item.taobao.com/item.htm?_u=a1lidjev94da&id=40490773348">承接战舰世界纯手工代练 需要的请点击我</a>            </br>
        </h2>
        
    </body>
</html>
