<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>管理中心</title>
        <meta name="robots" content="noindex, nofollow">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href="__PUBLIC__/Styles/general.css" rel="stylesheet" type="text/css" />
            <link href="__PUBLIC__/Styles/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>
            <span class="action-span1"><a href="#"><?php echo $data['username'] ?>  欢迎您</a> </span>
            <span id="search_id" class="action-span1"></span>
            <div style="clear:both"></div>
        </h1>
        <div class="list-div">
            <table cellspacing='1' cellpadding='3'>
                <tr>
                    <th colspan="4" class="group-title">个人信息</th>
                </tr>
                <tr>
                    <td width="20%">账户余额</a</td>
                    <td width="30%"><strong style="color:red">￥<?php echo $data['money'] ?></strong></td>
                </tr>
                <tr>
                    <td width="20%">折扣</td>
                    <td width="30%"><strong style="color:red"><?php echo $data['discount'] ?>折</strong></td>

                </tr>
                <tr>
                    <td>卖出卡密数量</td>
                    <td><strong><?php echo $data['sellcount'] ?></strong></td>
                </tr>
                <tr>
                    <td><a href="__APP__/home/index/changepwd">修改密码</a></td>
                </tr>
            </table>
        </div>
        <!-- end order statistics -->


        <div id="footer">
        </div>
    </body>
</html>